@font-face {
    font-family: 'LCARS';
    src: url('/fonts/LCARS.woff2') format('woff2'),
        url('fonts/LCARS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body { background: black }
p, h1, h2, h3 
{
    margin-top: 1em;
    font-family: 'LCARS';
}
/*
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
*/

.lcars-text
{
    font-family: 'LCARS';
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    text-align:center;
    line-height:1.6rem;
    vertical-align:center;
}

.menu-item
{
    margin-bottom: .25rem;
    height: 4.0rem !important;
    cursor: pointer;
    padding-top: 1rem;
}

.header-background
{
    background-color: #0098A4;
    
}

.menu-logo
{
    background-image: url('/img/spacedock_birmingham_logo.png');
    background-color: #0098A4;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6rem;
    margin-top: 0rem;
    margin-bottom: .25rem
}
.menu-logo span 
{
    vertical-align: center;
}

.facebook-logo
{
    
    background-image: url('/img/spacedock_birmingham_logo.jpg'); 
    width:100%;
    min-height:200px;
    max-height:400px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}



a:link, a:visited { color: black; }
a:hover, a:active {  color:red; cursor: pointer; }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color:black;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.lcarsElementDiv 
{   
    border-left: .75rem solid #FC6;
    border-right: .75rem solid #FC6;
    padding:2%;

}



.centered
{
    text-align:center;
}

